---
import Order from "@components/form/Order.vue";
const { title, style, id } = Astro.props;

const pricesByCountry = {
  US: { originalPrice: "$2500", discountedPrice: "$2000" },
  FR: { originalPrice: "$2600", discountedPrice: "$2100" },
  MA: { originalPrice: "$999", discountedPrice: "$2100" },
  SP: { originalPrice: "$2111", discountedPrice: "$2100" },
  GB: { originalPrice: "$3333", discountedPrice: "$2100" },
};
---

<div
  class={`container-${style.container} grid border border-dashed border-red-500 p-8 shadow-md rounded`}
>
  <h2 class="title-sm fade-in">{title}</h2>
  <div id={id} class="py-2">
    <Order client:visible pricesByCountry={pricesByCountry} />
  </div>
</div>
